.navbar {
    width: 100%;
    display: flex;
    background-color: transparent;
    height: 7vh;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    background-color:black;
}

@keyframes blink { 50% { color:#fff ; }  }

.myName {
    width: 30%;
    border-right: 1px solid black;
    text-align: right;
    cursor: pointer;
}

.titleName {
    line-height: 7vh;
    vertical-align: middle;
    margin-right: 20%;
    font-weight: bold;
    font-size: 50px;
    color: #4169e1;
    font-family: "VogueLight";
    animation: blink 10s;
    animation-iteration-count: 20000;
}

.menu {
    padding: 1%;
    width: 20%;
    text-align: center;
    display: flex;
    margin-left: 25%;
}

.menu button {
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    font-size:20px;
    background-color: transparent;
    border: none;
    color: white;
    font-family: "VogueLight";
}

.menu button:hover {
    font-family: "VogueLight";
    margin-right: 10px;
    font-weight: bold;
    color: #4169e1;
    border: none;
}