@font-face {
    font-family: "VogueLight";
    src: local("VogueLight"),
     url("../../fonts/Vogue/vogue-light.ttf") format("truetype");
    }
.descriptionContainer {
    width:95%;
    margin: auto;
    
    margin-top:0%;
    border-radius: 10px;
    padding: 0%;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    margin-top:2%;

}
.careerText {
  font-size: 40px;
    color: #4169e1;
    font-weight: bold;
    font-family: "VogueLight";
    text-align: center;
   
}
.flexArea {
  display:flex;
    justify-content: start;
    overflow-x:auto;
    min-width: 500px;
}
.flexAreaLogo {
  display:flex;
    justify-content: start;
    overflow:hidden;
    min-width: 500px;
}
.flexAreaText {
  margin:auto;
  margin-top:2%;
  width:70%;
  display:flex;
    justify-content: start;
}
.flexAreaDescription {
  margin-left:3%;
  margin-top:5%;
  width:95%;
}
.career {
  min-width:29vw;
  margin:25px;
  margin-top:0%;
  border-radius: 15px;
  border-color:1px solid white;
  background-color : #E1D9D1;
  height:50vh;
  overflow-y: auto;
  font-family: "VogueLight";
}
.logo {
  min-width:29vw;
  margin:25px;
  margin-top:1%;
  text-align:center;
  border-top: 1px solid black;
}
.intershipTitle {
  margin:auto;
  margin-top:1%;
  font-size:23px;
  color: #4169e1;
  font-weight: bold;
  font-family: "VogueLight";
  width:90%;
  padding:7px;
border-bottom: 1px solid #4169e1;
text-align: center;
}

.description {
    font-size:20px;
}
.hide {
    display:none;
}
.show {
    display:block;
}

.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }